<div class="row" style="padding: 20px;" >
    <div class="col-3" style="margin: auto;">
        <a [routerLink]="['/moduloasesor']">
            <div id="clase" style="text-align: center;">
                <img src="/assets/img/icono-usuario.png" alt="" width="40%">
                <div style="margin-top: 20px;">
                    <h4 style="text-align: center;">Jose Infante Carrion</h4>
                </div>
            </div>
        </a>
    </div>
    <div class="col-9">
        <div id="contenido_clase">
            <div class="cabecera_recurso">
                <h3> PROGRESO</h3>
            </div>
            <div class="centro">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td> <a [routerLink]="['/moduloasesor/socio/sesion']">1. Facebook y el mundo</a> </td>
                            <td>
                                <div class="progress" style="height: 25px;">
                                    <div class="progress-bar" role="progressbar"
                                        style="width: 25%; font-size: 18px; background-color: green;" aria-valuenow="25"
                                        aria-valuemin="0" aria-valuemax="100">25%</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>2. Beneficios de usar Facebook en el negocio</td>
                            <td><div class="progress" style="height: 25px;">
                                <div class="progress-bar" role="progressbar" style="width: 25%; font-size: 18px; background-color: green;"
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                            </div>
                            </td>
                        </tr>
                        <tr>
                            <td>3. Creación de Facebook Empresarial</td>
                            <td><div class="progress" style="height: 25px;">
                                <div class="progress-bar" role="progressbar" style="width: 25%; font-size: 18px; background-color: green;"
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                            </div></td>
                        </tr>
                        <tr>
                            <td>4. Cómo gestionar un Facebook Empresarial</td>
                            <td><div class="progress" style="height: 25px;">
                                <div class="progress-bar" role="progressbar" style="width: 25%; font-size: 18px; background-color: green;"
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                            </div></td>
                            
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>