<div class="home-content">
    <div>
        <i class="fa fas fa-table icon_right fa-2x fa-border cuadroicon" aria-hidden="true"></i>&nbsp;<b
            style="font-size: x-large;">Reportes</b>
        <div class="row cajaopciones">
            <div class="col-4">
                <div class="mb-3">
                    <h5 class="col-form-label">Banco Comunal:</h5>
                    <div class="col-sm-12">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div style="margin-top: 15px;">
                    <h5 class="col-form-label">Capacitacion:</h5>                    
                    <select class="form-select" aria-label="Default select example">
                        <optgroup label="Selecciona">
                            <option value="1">Facebook Empresarial</option>
                            <option value="2">Instagram</option>
                            <option value="3">Whatsapp Business</option>
                        </optgroup>
                    </select>
                </div>
            </div>
            
            <div class="col-5">
                <div>
                    <h5 class="col-form-label">Tipo Capacitacion:</h5>                    
                    <select class="form-select col-sm-6" aria-label="Default select example">
                        <optgroup label="Selecciona">
                            <option value="1">Modulo</option>
                            <option value="2">Seminario</option>
                        </optgroup>
                    </select>
                </div>
                <div style="margin-top: 15px;">
                    <h5 class="col-form-label">Tipo Reporte:</h5>                    
                    <select class="form-select" aria-label="Default select example">
                        <optgroup label="Selecciona">
                            <option value="1">Asistencia</option>
                            <option value="2">Progreso</option>
                        </optgroup>
                    </select>
                </div>
            </div>

            <div class="col-3">

            </div>
            
        </div>

        <div style="margin-top: 25px;">
            <button class="btn btn-primary">Generar</button>
            <button class="btn btn-primary" style="margin-left: 15px;">Descargar</button>
        </div>

        <table class="table table-bordered" style="margin-top: 30px;">
            <thead>
                <tr>
                  <th scope="col">Socios</th>
                  <th scope="col">Detalle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>