<div id="talleres-reunion" class="espaciado-cajas">
    <div class="barra-roja">
        <i class="fas fa-video"></i>
        Seminarios en vivo
    </div>

    <div class="reunion" *ngFor="let se of seminarios">
        <p>{{se.Tema}}</p>
        <div class="link-entrar">
            <a href="#">
                <i class="fas fa-video"></i>
                En vivo, entra ahora
            </a>
        </div>
    </div>
    <div class="reunion">
        <div class="link-pendiente" style="color:white;">
                <i class="fas fa-video"></i>
                Comienza el 08-12-2021 8:30
        </div>
    </div>
   
    <div class="reunion">
        <p>Facebook Empresarial</p>
        <div class="link-terminado">
            <a href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <i class="fas fa-video"></i>
                Encuesta pendiente
            </a>
        </div>        
    </div>
</div>

<!-- Cambio si el usuario es Asesor Adra
     cuando un seminario finaliza, cambia el boton a "Finalizado"

        <div class="link-terminado" style="color: white;">
            <i class="fas fa-video"></i>
            Finalizado
        </div>

-->



<adra-encuestas-valoracion></adra-encuestas-valoracion>


