<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog tamaño-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Valoración</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Cupiditate quos iusto velit
                    consequuntur culpa in ea provident at quia reiciendis eius
                    ipsum repudiandae nihil autem minima omnis voluptatibus, maiores fugiat.
                    <div class="escala-valoracion">
                        <div>
                            <a href="" data-bs-dismiss="modal">
                                <i class="far fa-dizzy carita-tamaño muy-inst"></i>
                                <p>Muy insatisfecho</p>
                            </a>

                        </div>

                        <div>
                            <a href="" data-bs-dismiss="modal">
                                <i class="far fa-frown carita-tamaño inst"></i>
                                <p>Insatisfecho</p>
                            </a>
                        </div>

                        <div>
                            <a href="" data-bs-dismiss="modal">
                                <i class="far fa-meh carita-tamaño ni-inst-satis"></i>
                                <p>Ni satisfecho ni insatisfecho</p>
                            </a>
                        </div>

                        <div>
                            <a href="" data-bs-dismiss="modal">
                                <i class="far fa-smile carita-tamaño satis"></i>
                                <p>Satisfecho</p>
                            </a>
                        </div>

                        <div>
                            <a href="" data-bs-dismiss="modal">
                                <i class="far fa-smile-beam carita-tamaño muy-satis"></i>
                                <p>Muy satisfecho</p>
                            </a>
                        </div>

                    </div>

                </div>
                <div class="modal-footer" style="justify-content: center;">
                    <h4>¡Gracias por tu valoración!</h4>
                </div>
            </div>
        </div>
    </div>
