<div class="row" style="padding: 20px;">
    <div class="col-3" style="margin: auto;">
        <a [routerLink]="['/moduloasesor']">
            <div id="clase" style="text-align: center;">
                <img src="/assets/img/face.jpg" alt="" width="60%">
                <div style="margin-top: 20px;">
                    <h4 style="text-align: center;">Facebook empresarial</h4>
                </div>
            </div>
        </a>

        <a [routerLink]="['/moduloasesor/pedidosoracion']">
            <div id="clase" class="pedidosdeoracion" style="margin-top: 30px;">
                <h5 style="color: black;">Pedidos de Oracion</h5>
            </div>    
        </a>
    </div>

    

    <div class="col-9">
        <div id="contenido_clase">
            <div class="cabecera_recurso">
                <h3> PARTICIPANTES</h3>
            </div>
            <div class="centro">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td class="td-icono"><img src="/assets/img/icono-usuario.png" alt="" width="50%"></td>
                            <td> <a [routerLink]="['/moduloasesor/socio']">José Infante Carrión Loza</a> </td>
                            <td>
                                <div class="progress" style="height: 25px;">
                                    <div class="progress-bar" role="progressbar"
                                        style="width: 25%; font-size: 18px; background-color: green;" aria-valuenow="25"
                                        aria-valuemin="0" aria-valuemax="100">25%</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="td-icono"><img src="/assets/img/icono-usuario.png" alt="" width="50%"></td>
                            <td>Maria Juana del Arco Mamani</td>
                            <td><div class="progress" style="height: 25px;">
                                <div class="progress-bar" role="progressbar" style="width: 25%; font-size: 18px; background-color: green;"
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                            </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="td-icono"><img src="/assets/img/icono-usuario.png" alt="" width="50%"></td>
                            <td>Guadalupe Montalvo Martín</td>
                            <td><div class="progress" style="height: 25px;">
                                <div class="progress-bar" role="progressbar" style="width: 25%; font-size: 18px; background-color: green;"
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                            </div></td>
                        </tr>
                        <tr>
                            <td class="td-icono"><img src="/assets/img/icono-usuario.png" alt="" width="50%"></td>
                            <td>Luisa Meltrosa Dura Lujan</td>
                            <td><div class="progress" style="height: 25px;">
                                <div class="progress-bar" role="progressbar" style="width: 25%; font-size: 18px; background-color: green;"
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                            </div></td>
                            
                    </tr>
                        <tr>
                            <td class="td-icono"><img src="/assets/img/icono-usuario.png" alt="" width="50%"></td>
                            <td>José Luis Maguire Osorio</td>
                            <td><div class="progress" style="height: 25px;">
                                <div class="progress-bar" role="progressbar" style="width: 25%; font-size: 18px; background-color: green;"
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                            </div></td>
                            
                        </tr>
                        <tr>
                            <td class="td-icono"><img src="/assets/img/icono-usuario.png" alt="" width="50%"></td>
                            <td>Marta Villanueva Pérez</td>
                            <td><div class="progress" style="height: 25px;">
                                <div class="progress-bar" role="progressbar" style="width: 30%; font-size: 18px; background-color: green;"
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">30%</div>
                            </div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

