<nav class="navbar navbar-light sombra" style="background-color:rgb(15, 92, 73); ">
    <img src="/assets/img/Logo.png" width="230" height="60">

    <div id="cinta-opciones">

        <div class="paginas">
            <li class="opc">
                <a href="">SOBRE NOSOTROS</a>
            </li>
            <li class="opc">
                <a href="">CONTACTENOS</a>
            </li>
        </div>

        <div class="redes-sociales">
            <li class="opc">
                <a href=""><i class="fab fa-facebook-square"></i></a>
            </li>
            <li class="opc">
                <a href=""><i class="fab fa-instagram"></i></a>
            </li>
            <li class="opc">
                <a href=""><i class="fab fa-twitter"></i></a>
            </li>
            <li class="opc">
                <a href=""><i class="fab fa-whatsapp"></i></a>
            </li>

        </div>


    </div>
</nav>
