<div class="barra-sesion position-fixed">
    <div class="row">
        <div class="col-8 d-flex" style="text-align: left;">

            <div class="boton">
                <a [routerLink]="['/menuprincipal/inicio']">Inicio</a>
            </div>

            <div class="boton">
                <a [routerLink]="['/menuprincipal/historialmodulos']" style="text-align: center;">Historial de módulos</a>
            </div>

            <div class="boton">
                <a data-bs-toggle="modal" data-bs-target="#modal-pedido-oracion">Pedidos de oración</a>
            </div>

        </div>
        <div class="col-4 d-flex flex-row-reverse">
            <div class="boton">
                <a href="">Cerrar sesión</a>
            </div>
        </div>
    </div>
</div>

<adra-pedidos-oracion></adra-pedidos-oracion>