<div class="barra-sesion position-fixed">
    <div class="row">
        <div class="col-8" style="text-align: left;">
            <a href="" style="margin-right: 40px; margin-left: 20px;">Inicio</a>
            <a href="" style="margin-right: 40px;">Historial de módulos</a>
            <a data-bs-toggle="modal" data-bs-target="#modal-pedido-oracion">Pedidos de oración</a>
        </div>
        <div class="col-4">
            <a href="">Cerrar sesión</a>
        </div>
    </div>
</div>

<adra-pedidos-oracion></adra-pedidos-oracion>